/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-start: hsl(6, 100%, 80%);
  --primary-end: hsl(335, 100%, 65%);
  --blue-200: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --blue-450: hsl(228, 56%, 60%);
  --blue-850: hsl(228, 56%, 26%);
  --blue-950: hsl(229, 57%, 11%);

  /* font */
  --fw-400: 400;
  --fw-700: 700;
}

/* Base*/
i {
  font-size: 1.5rem;
}

body {
  font-family: "Raleway", sans-serif;
  background-image: url("../images/bg-mobile.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--blue-950);
  color: var(--blue-200);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue-200);
  font-weight: var(--fw-400);
  padding: 1.25rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.card {
  width: 320px;
  background-color: var(--blue-850);
  border-radius: 0.75rem;
  margin: 0 auto;
}

/* Fylo Card */
.fylo-card {
  padding: 40px;
  border-top-right-radius: 6.25rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo h2 {
  font-size: clamp(1.8rem, calc(1.8rem + ((1vw - 0.2rem) * 0.7143)), 2.5rem);
  font-weight: var(--fw-700);
}

.icons {
  margin-top: 1.875rem;
  display: flex;
  gap: 15px;
}

.icon {
  background: var(--blue-950);
  padding: 0.5rem;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon i {
  color: var(--blue-450);
  opacity: 0.8;
}

/* Storage-bar */
.storage-card {
  padding: 35px;
  position: relative;
  text-align: center;
}

.used-text {
  font-size: 15px;
  margin-bottom: 15px;
}

.bar-background {
  background: var(--blue-950);
  height: 15px;
  border-radius: 20px;
  position: relative;
  outline: 3px solid var(--blue-950);
}

.bar-fill {
  height: 100%;
  width: 75%;
  background: linear-gradient(90deg, var(--primary-start), var(--primary-end));
  border-radius: 20px;
}

.bar-dot {
  width: 10px;
  height: 10px;
  background: var(--blue-200);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 72%;
}

.range-labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  font-weight: var(--fw-700);
}

.bubble {
  position: absolute;
  top: 130px;
  left: 25%;
  background: var(--blue-200);
  color: var(--grayish-blue);
  padding: 15px 20px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  font-weight: var(--fw-700);
}
.big {
  font-size: 32px;
  margin-right: 10px;
  color: var(--blue-950);
}

.bubble-arrow {
  display: none;
}

/* Responsive */
@media (min-width: 700px) {
  body {
    background-image: url("../images/bg-desktop.png");
    background-size: 100% auto;
  }

  .container {
    flex-direction: row;
    align-items: flex-end;
  }
  .storage-card {
    text-align: left;
  }
}

@media (min-width: 850px) {
  .storage-card {
    width: 500px;
  }
  .bubble {
    top: -30%;
    left: auto;
    right: 8%;
    border-bottom-right-radius: 0;
  }
  .bubble-arrow {
    display: block;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 0 solid transparent;
    border-top: 30px solid var(--blue-200);
    position: absolute;
    bottom: -15px;
    right: 0;
  }
}
